# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
dist-ssr/
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
tsconfig.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/
coverage/
.nyc_output/

# Vite
*.timestamp-*-*.mjs
.vite/
.viteignore
vite-env.d.ts

# TypeScript
*.tsbuildinfo

# Vue/Frontend specific
.nuxt/
.cache/
pnpm-lock.yaml
package-lock.json

# Playwright
.auth/
test-results/
playwright-report/
blob-report/
